@charset "utf-8";

/* 
body{font-family: 'Noto Sans KR', sans-serif;}
body{min-width: 1280px;}
header {position:relative; height: 70px; margin: 0 100px; text-align: center;}
header>*{line-height: 70px;}
header .main-logo {position: absolute; display: inline-block; left: 0; top: 0; font-size: 25px; font-weight: bold; box-sizing: border-box;}
header .main-logo img {display: inline-block; height: 30px;  vertical-align: auto;}
header .main-logo p {display: inline-block;}
header .search {display: inline-block; padding: 0px 0 0 0; font-size:0;}
header .search .text {display:inline-block; width: 400px; height: 30px; border-radius: 0%; border: 1px solid black; box-sizing: border-box;}
header .search .btn {display:inline-block;  width: 30px; height: 30px; border: 1px solid black; background: black; color: white;}
header .login {position: absolute; right: 0; top: 0; display: inline-block; float: right; text-align: center; font-size: 16px;}
header .login a {padding: 0 5px;}
header .login a:last-child {padding-right: 0px;}

.slide {position: relative; margin: 0 100px; height: 500px; background: tomato;} */



.slide {position: relative; height: 570px;  width: auto; }
.slide div.slide-items:nth-child(1) {background: url(../images/carousel_bg1.jpg) center no-repeat; background-size: cover;}
.slide div.slide-items:nth-child(2) {background: url(../images/carousel_bg2.jpg) center no-repeat; background-size: cover;}
.slide div.slide-items:nth-child(3) {background: url(../images/carousel_bg3.jpg) center no-repeat; background-size: cover;}
.slide .slide-label {background: rgba(0, 0, 0, 0.3) ; color: white; text-align: center; line-height: 600px; font-size: 25px;}
.slide .slick-dots {position: absolute; bottom: 0px;}
.slide .slick-next {right: 0; z-index: -100;}

.sell-section { display: flex; flex-direction: column; align-items: center; width: 100%; height: 650px; background: #dfd9d1;}
.sell-section .board { position: relative; display: flex; justify-content: center; align-items: center; }
.sell-section .board-title {display: flex; justify-content: center; align-items: center; flex-direction: column;}
.sell-section .board-title .title:hover {color: saddlebrown; transition: 0.3s;}
.sell-section .board-title .title{font-size: 24px; font-weight: 600; color: black; display: block; padding: 25px 0 10px 0;}
.sell-section .board-title .sub{font-size: 15px; color: gray; padding: 0 0 25px 0;}
.sell-section .board-slider {display: flex; width: 100%; justify-content: center;}
.sell-section .board-slider .prev-container { display: flex; width: 280px; height: 500px; flex-direction: column; align-items: center; overflow: hidden; margin: 0 10px; background: white; } 
/* box-shadow: 2px 2px 2px; */
/* .sell-section .board .prev-container:first-child {margin-left: 0px;} */
.sell-section .board-slider .prev-container div.img-wrap { display: flex; justify-content: center; align-items: center; width: auto; height: 250px; overflow: hidden; }
.sell-section .board-slider .prev-container img { background: lightblue; width: auto; height: 250px; min-width: 250px; transition: 0.2s; }
.sell-section .board-slider .prev-container:hover img { transform: scale(1.1);}
.sell-section .board-slider .prev-container .board-content { display: flex; position: relative; flex-direction: column; width: 100%; height: 250px; justify-content: flex-start; padding: 5px 15px;}
.sell-section .board-slider .prev-container .board-content .title { font-size: 16px; font-weight: bold; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow: hidden; width: 100%; margin-bottom: 5px;}
.sell-section .board-slider .prev-container .board-content .content { color: gray; display:-webkit-box; -webkit-line-clamp:5; -webkit-box-orient:vertical; overflow: hidden; }
.sell-section .board-slider .prev-container .board-content span[class^=price] { font-size: 16px; font-weight: bold; color: salmon;}
.sell-section .board-slider .prev-container .board-content .price-sub { position: absolute; bottom: 0; left: 0; margin: 0 0 10px 10px;}
.sell-section .board-slider .prev-container .board-content .price-value { position: absolute; bottom: 0; right: 0; margin: 0 10px 10px 0;}
.sell-section .board-slider .prev-container .board-content .price-value::before {content: "\\";}
.sell-section .board-slider .prev-container .board-content .price-value::after {content: "\~";}
.sell-section .slick-arrow {display: block; width: 40px; height: 40px; font-size: 0; opacity: 0.5;}
.sell-section .slick-arrow:hover {opacity: 1;  transition: 0.2s;}
.sell-section .slick-prev {position:absolute; left:-40px; background: url(../images/prev.png) center no-repeat;  margin-right: 40px;}
.sell-section .slick-next {position:absolute; right:-40px; background: url(../images/next.png) center no-repeat;} 
.sell-section .slick-arrow::before {content: none;}

.order-section { position: relative; display: flex; width: 100%; height: 600px;}
.order-section .rayer{position: absolute; z-index: 10; top: 0; left: 0; height: 100%; width: 100%; background: -webkit-linear-gradient(left, rgba(207,216,220,0) 0%,rgba(207,216,220,0.3) 15%,rgba(207,216,220,0.5) 20%,rgba(207,216,220,0.7) 30%,rgba(207,216,220,0.8) 40%,rgba(207,216,220,1) 50%,rgba(207,216,220,1) 100%);}
.order-section .left {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 50%; height: 100%; background:url(../images/order_background.jpg) no-repeat; background-size: cover;}
.order-section .left a,p {z-index: 20; margin: 10px 0;}
.order-section .left p { color: black; line-height: 25px; font-size: 18px; font-weight: bold; text-align: center;}
.order-section .left a { display: block; width: 160px; height: 50px; line-height: 50px; border: 2px solid black ; font-size: 16px; font-weight: bold; text-align: center; transition: 0.3s; }
.order-section .left a:hover { background: rgb(24, 24, 24); color: white;}

.order-section section .board-title {display: flex; justify-content: center; align-items: center; flex-direction: column;}
.order-section .board-title .title{font-size: 24px; font-weight: 600; color: black; display: block; padding: 20px 0 10px 0;}
.order-section .board-title .sub{font-size: 15px; color: gray; padding: 0 0 20px 0;}
.order-section  .right {display: flex; width: 50%; justify-content: space-around; align-items: center;}
.order-section  .right .right-container {display: flex; flex-direction: column; align-content:center; justify-items: center; transform: translateX(-5%); z-index: 11;}
.order-section  .right .right-container .board-title {text-align: center; margin-bottom: 50px;}
.order-section  .right .right-container .board-title .title:hover { color: darkslategray;  transition: 0.25s; }
.order-section  .right .right-container table {width: 500px;  text-align: center; }
.order-section  .right .right-container table thead {font-size: 16px; font-weight: 600; color: black; border-bottom: 1px solid black;}
.order-section  .right .right-container table thead td{padding-bottom: 10px;}
.order-section  .right .right-container table tbody tr {font-size: 14px; color: black; border-bottom: 1px solid gray;}
.order-section  .right .right-container table tbody td{padding: 10px 0;} 
.order-section  .right .right-container .order-pager {display: flex; justify-content: center; margin:15px 0 70px 0;}
.order-section  .right .right-container .order-pager li { padding: 0 10px; font-weight: lighter;}
.order-section  .right .right-container .order-pager li:hover {text-decoration: underline;}
.order-section  .right .right-container .order-pager li .on { font-weight: bold;}

