@charset "utf-8";

section#main-section { display: flex; justify-content: center; align-items: center;}
section#main-section div.wrap-main { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 1280px; min-height: 900px;}

/*공통항목*/
p.section-title { display: flex; justify-content: center; align-items: center; flex-shrink: 0; width: 100%; color: #3f3f3f; font-size: 21px; font-weight: 600; margin-bottom: 30px; }
p.section-title:before,p.section-title:after { content:""; width: 180px; height: 1px; background: #3f3f3f; margin: 0 20px; }
div.log-container { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width:100%; }
div.log-container p.list-title { font-size: 19px; color: black; }
input.btn-more { align-self: center; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; background: gray; border-radius: 50%; font-size: 21px; color: white; transition: 0.2s all;}
input.btn-more:hover { background: #901d0c}

section#main-section div.wrap-main > section#my-info-section { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width:100%; margin-bottom: 80px;}
section#main-section div.wrap-main > section#my-info-section img#img-profile { width: 100px; height: 100px; border-radius: 50%; object-fit: cover; }
section#main-section div.wrap-main > section#my-log-section { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width:100%; padding: 0 200px;}
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul { width: 100%; margin-top:20px;}
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li { padding-bottom: 20px}
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a { display: flex; justify-content: space-between; align-items: center; background: whitesmoke; padding: 30px; border-radius: 3px;}
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a div.wrap { display: flex; align-items: center; margin-right: 15px; }
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a div.wrap p.log-li-type { margin-right: 15px; color: white; padding: 15px; border-radius: 3px; flex-shrink: 0;}
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a div.wrap p.log-li-type.request { background:orange }
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a div.wrap p.log-li-type.market { background:slateblue }
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a div.wrap p.log-li-title { height: 19px; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow: hidden; font-size: 19px; line-height: 19px; }
section#main-section div.wrap-main > section#my-log-section .log-container.board > ul > li a p.log-li-date { flex-shrink: 0;}
